openapi: 3.2.0
info:
  description: '# Introduction


    Monoova has developed a powerful payments engine which allows you to receive, manage and pay funds in AUD in Australia automatically.'
  version: v5.29
  title: Monoova Payments Pay ID API
  contact:
    name: Monoova Support
    email: support@monoova.com
    url: https://www.monoova.com
  x-logo:
    url: https://movdpwebsiteprodae.blob.core.windows.net/images/Monoova-Primary-Logo-Black-RGB.png
    altText: Monoova logo
servers:
- url: https://api.mpay.com.au
  description: Production URL
- url: https://api.m-pay.com.au
  description: Sandbox URL
security:
- BasicAuth: []
tags:
- name: PayID
  description: 'Overview


    A PayID is an alias for a bank account number that makes paying into account easier. A PayID can be an email address, phone number or ABN. PayIDs are issued and associated with our /receivables bank accounts to allow your users a simpler way of sending you money. Once a PayID has been registered against a bank account, when a payment is made to that ID, the funds will arrive in your receivables account number. Currently we only support email PayIDs via the API.'
paths:
  /receivables/v1/payid/registerpayid:
    post:
      tags:
      - PayID
      summary: Register PayID
      description: This endpoint allows the registration of a PayID against an account number. We recommend leaving 10 seconds before registering a PayID to ensure an account number has been enabled for NPP. The domains that can be used to register a PayID are restricted. Custom domains are supported but must first be approved, please contact us for configuration. The default domain is monoova.me, if the PayID field is left blank we will generate a check-digited PayID on the Monoova domain.
      operationId: ReceivablesRegisterPayID
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/payId.registerpayId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/receivablesRegisterPayIdResponse_V1'
        '400':
          description: Bad request
        '500':
          description: Internal Server Error
  /receivables/v1/payid/updatePayIdStatus:
    post:
      tags:
      - PayID
      summary: Update a PayID's status
      description: A PayID in the port status can be moved to another automatcher. To do this, change the status to port then submit a new Register PayID request for the preferred automatcher. The PayID will be relocated and automatically enabled.
      operationId: ReceivablesUpdatePayIdStatus
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/payId.updatePayIdStatus'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/receivablesUpdatePayIdStatusResponse_V1'
        '400':
          description: Bad request
        '500':
          description: Internal Server Error
  /receivables/v1/payid/updatePayIdName:
    post:
      tags:
      - PayID
      summary: Update a PayID's name
      description: Use this endpoint to change the name of a PayID.
      operationId: ReceivablesUpdatePayIdName
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/payId.updatePayIdName'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/receivablesUpdatePayIdNameResponse_V1'
        '400':
          description: Bad request
        '500':
          description: Internal Server Error
  /receivables/v1/payid/payIdEnquiry:
    post:
      tags:
      - PayID
      summary: PayID Enquiry
      description: Returns the details of a of a PayID. You must own the PayID to view its information.
      operationId: ReceivablesPayIdEnquiry
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/payId.enquiry'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/receivablesEnquiryPayIdResponse_V1'
        '400':
          description: Bad request
        '500':
          description: Internal Server Error
components:
  schemas:
    payId.updatePayIdName:
      type: object
      required:
      - bankAccountNumber
      - payId
      - payIdName
      properties:
        bankAccountNumber:
          type: string
          example: '123409870'
          description: The bank account number for the account against when you Register a PayID.
          maxLength: 9
        bsb:
          type: string
          example: 802-985
          description: Optional BSB parameter. If not specified, the service will use the MAccount’s configured ‘Default BSB’. If a ‘Default BSB’ has not been configured, then the Monoova ‘Default BSB’ will be used.
        payId:
          type: string
          example: f3y237@monoova.com
          description: Email address for the PayID.
          maxLength: 256
        payIdName:
          type: string
          example: John Smith
          description: Name displayed to the payers in order to identify you.
          maxLength: 140
    receivablesUpdatePayIdNameResponse_V1:
      type: object
      properties:
        durationMs:
          description: 'This value represents the total time in milliseconds that the Platform took to process the request. '
          type: integer
          format: int64
          example: 20
        status:
          description: This is the status of executing the request.&nbsp;A code of ‘Ok’ indicates no errors
          type: string
          example: Ok
        statusDescription:
          description: This is a plain English description of the status.
          type: string
          example: Operation completed successfully
    payId.updatePayIdStatus:
      type: object
      required:
      - bankAccountNumber
      - payId
      - status
      properties:
        bankAccountNumber:
          type: string
          example: '123409870'
          description: The bank account number for the account against when you Register a PayID.
          maxLength: 9
        bsb:
          type: string
          example: 802-985
          description: Optional BSB parameter. If not specified, the service will use the MAccount’s configured ‘Default BSB’. If a ‘Default BSB’ has not been configured, then the Monoova ‘Default BSB’ will be used.
        payId:
          type: string
          example: f3y237@monoova.me
          description: Email address for the PayID.
          maxLength: 256
        status:
          type: string
          example: Disable
          enum:
          - Enable
          - Disable
          - Deregister
          - Port
          description: 'Status of your PayID. Possible values: Enable, Disable, Deregister, Port'
    receivablesRegisterPayIdResponse_V1:
      type: object
      properties:
        durationMs:
          description: 'This value represents the total time in milliseconds that the Platform took to process the request. '
          type: integer
          format: int64
          example: 20
        status:
          description: This is the status of executing the request.&nbsp;A code of ‘Ok’ indicates no errors
          type: string
          example: Ok
        statusDescription:
          description: This is a plain English description of the status.
          type: string
          example: Operation completed successfully
        PayIdDetails:
          type: object
          properties:
            BankAccountNumber:
              description: The bank account number for the account against which you are trying to Register a PayID
              type: string
              example: '123409870'
            PayId:
              description: 'Email address for the PayID. Max length: 256'
              type: string
              example: f3y237@monoova.me
            PayIdName:
              description: Name displayed to the payers in order to identify you
              type: string
              example: John Smith
            PayIdStatus:
              description: 'Status of your PayID. Possible values: Enable, Disable, Deregister, Port'
              type: string
              enum:
              - Enable
              - Disable
              - Deregister
              - Port
              example: Enable
    receivablesEnquiryPayIdResponse_V1:
      type: object
      properties:
        durationMs:
          description: 'This value represents the total time in milliseconds that the Platform took to process the request. '
          type: integer
          format: int64
          example: 20
        status:
          description: This is the status of executing the request.&nbsp;A code of ‘Ok’ indicates no errors
          type: string
          example: Ok
        statusDescription:
          description: This is a plain English description of the status.
          type: string
          example: Operation completed successfully
        BankAccountNumber:
          description: The bank account number for the account against which you are trying to Register a PayID
          type: string
          example: '111111012345678'
        LastResolutionDateTime:
          description: Datetime this PayId was last resolved
          type: string
          example: '2019-03-17T07:45:00.000Z'
        LastUpdatedDateTime:
          description: ''
          type: string
          example: '2019-03-14T00:44:53.000Z'
        PayIdName:
          description: Name displayed to the payers in order to identify you
          type: string
          example: John Smith
        RegistrationDateTime:
          description: ''
          type: string
          example: '2019-03-14T00:44:53.000Z'
        Status:
          description: 'Status of your PayID. Possible values: Enable, Disable, Deregister, Port'
          type: string
          example: Enable
          enum:
          - Enable
          - Disable
          - Deregister
          - Port
    receivablesUpdatePayIdStatusResponse_V1:
      type: object
      properties:
        durationMs:
          description: 'This value represents the total time in milliseconds that the Platform took to process the request. '
          type: integer
          format: int64
          example: 20
        status:
          description: This is the status of executing the request.&nbsp;A code of ‘Ok’ indicates no errors
          type: string
          example: Ok
        statusDescription:
          description: This is a plain English description of the status.
          type: string
          example: Operation completed successfully
    payId.registerpayId:
      type: object
      required:
      - bankAccountNumber
      - payIdName
      properties:
        bankAccountNumber:
          type: string
          example: '123409870'
          description: The bank account number for the account against which you are trying to Register a PayID
          maxLength: 9
        bsb:
          type: string
          example: 802-985
          description: Optional BSB parameter. If not specified, the service will use the MAccount’s configured ‘Default BSB’. If a ‘Default BSB’ has not been configured, then the Monoova ‘Default BSB’ will be used.
        payIdName:
          type: string
          example: John Smith
          maxLength: 140
          description: Name displayed to the payers in order to identify you.
        payId:
          type: string
          example: ''
          maxLength: 256
          description: Email address for the PayID.
    payId.enquiry:
      type: object
      required:
      - payId
      properties:
        payId:
          type: string
          example: f3y237@monoova.com
          description: Email address for the PayID.
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
x-tagGroups:
- name: Receive and Pay
  tags:
  - Financial
  - Verify
  - Automatcher (Bank Account Receivables)
  - Whitelisting for Automatcher (Bank Account Receivables)
  - Ledger Account
  - Reconciliation Rules
  - PayID
  - Tools
- name: BPAY
  tags:
  - BPAY
  - mWallet
- name: Manage
  tags:
  - Subscriptions
  - Webhooks
  - mAccount
  - Reports
  - Security
  - Token
- name: Public Endpoints
  tags:
  - Public Endpoints
