openapi: 3.2.0
info:
  description: "# Introduction\n  Monoova's Online Card Payment Service incorporates a next-gen Card Payment Checkout integrated with our expansive Payments API to allow merchants to capture card and mobile wallet payments from your customers online and receive funds into your Monoova account for automated reconciliation and disbursement. To integrate the Card Payment Gateway into your website, all you need is Monoova's <a href=\"https://github.com/Monoova/merchantSDK\" target='_blank'>Merchant Software Development Kit</a> (SDK) hosted on GitHub and a set of straightforward RESTful APIs detailed below.  We will continue to update this API documentation as we release additional functionality.\n\n# How to Enable the Card Payment Gateway and Sandbox API’s\n>\n  - If not already a user, register an account in our <a href='https://sandbox.monoova.com' target='_blank'>Sandbox Portal</a>\n  - Once registered and logged in, navigate to **Manage > API Gateway** and input your API Key (provided to you as part of Portal user registration) to activate API Gateway Access for your mAccount (If you do not know your API Key you will need to roll a new one, this can be done by navigating to **Manage > Accounts**)\n  - Card Gateway integration requires some additional back-end configuration prior to use by a member of our integration team who will reach out to onboard and confirm access as a final step to enabling your service.\n  - To notify the integration team of your interest in enabling your account for Online Card Payment Service functionality, please <a href='https://www.monoova.com/contact' target=\"_blank\">Contact us</a> and a member of the team will follow up to guide you through the final steps.\n\n# Integrating Monoova Checkout for Card Payments\n  Utilizing Monoova's Merchant SDK enables you to deploy a Card Payment Checkout that securely gathers card payment information that complies with PCI standards, without necessitating substantial PCI compliance modifications within your application. The integrated Card Payment Checkout implementation ensures the secure capture of card data and offers complete customization to seamlessly align with your application's appearance and user experience.\n\n## Before you start\n>\n  - Ensure that your mAccount has been properly configured to enable card payments. Please access the Monoova portal or contact Monoova Support to verify this.\n  - Download the Card Software Development Kit (SDK): https://github.com/Monoova/merchantSDK\n\n## Using the Merchant SDK\n  To begin, clone the Merchant SDK repository. This repository offers an example implementation of the set of tools for initiating a session with Monoova and presenting the credit card checkout for the collection of card payments. Detailed instructions on how to integrate the credit card checkout are included in the SDK.\n\n## Sample Card Details\n  The following Card details can be used to test the credit card checkout and end-to-end flow in your Sandbox Account.\n<table>\n  <tr>\n    <th>Card Type</th>\n    <th>Card Number</th>\n    <th>Card Expiry</th>\n    <th>Card CVV</th>\n  </tr>\n  <tr>\n    <td>VISA</td>\n    <td>4111 1111 1111 1111</td>\n    <td>12/31</td>\n    <td>123</td>\n  </tr>\n  <tr>\n    <td>MASTER CARD</td>\n    <td>5555 5555 5555 4444</td>\n    <td>12/31</td>\n    <td>123</td>\n  </tr>\n</table>\n\n## Customising the Checkout\n>\n  - For those using the provided checkout form, you can make adjustments to the appearance of the checkout by editing the Checkout.html and style.css files to apply host themes.\n  - To modify the styles within the card iframe, you should edit the CSS associated with the #Checkout-container ID, as host themes do not apply to the card form.\n  - Refer to our README documentation in the Card Software Development Kit (SDK). It includes programmatic examples, including checkout style and callback details, for the events\n    * onCheckoutComplete\n    * onCheckoutFail\n"
  version: v1
  title: Monoova Card Payments Create Payment Using Token API
  contact:
    name: Monoova Support
    email: support@monoova.com
    url: https://www.monoova.com
  x-logo:
    url: https://movdpwebsiteprodae.blob.core.windows.net/images/Monoova-Primary-Logo-Black-RGB.png
    altText: Monoova logo
servers:
- url: https://api.monoova.com
  description: Production URL#
- url: https://sand-api.monoova.com
  description: Sandbox URL
security:
- BearerAuth: []
tags:
- name: Create Payment Using Token
paths:
  /au/card/ccm/CreditCardTransaction/payment:
    post:
      tags:
      - Create Payment Using Token
      summary: Create a Payment using Token
      description: This endpoint is used to create payments using tokens.
      operationId: createPayment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePaymentRequest'
            example:
              clientTransactionUniqueReference: 6aac85b115c7405180e6c7a7735c9f3c
              customer:
                customerId: '12345678'
                billingAddress:
                  firstName: Joseph
                  lastName: Blogs
                  street:
                  - 1 Walker St
                  suburb: North Sydney
                  state: NSW
                  postalCode: '2000'
                  countryCode: AU
                emailAddress: joe.blogs@monoova.com
              paymentDetails:
                clientPaymentTokenUniqueReference: Token123
                description: sample token create
              amount:
                currencyAmount: 100.0
      responses:
        '201':
          description: Accepted by gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentResponse'
              example:
                traceId: 1dabfaa9-abe8-4d2d-a69a-b723079d84ed
                clientTransactionUniqueReference: DCCCC5DE-CC48-4942-A419-F1B84EC122C4
                clientPaymentTokenUniqueReference: TOKEN123
                status: Pending Settlement
        '200':
          description: Declined by gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentResponse'
              example:
                traceId: 1dabfaa9-abe8-4d2d-a69a-b723079d84ed
                clientTransactionUniqueReference: DCCCC5DE-CC48-4942-A419-F1B84EC122C4
                clientPaymentTokenUniqueReference: TOKEN123
                status: Declined
                statusReasonCode: reasonCode
                statusReasonDescription: reasonDescription
        '400':
          description: Invalid request
          content:
            application/json:
              example:
                traceId: 0d4518e0-8934-489c-b303-1f82323f2595
                errors:
                - errorCode: CCM_ACC_LIMIT_REACHED
                  errorMessage: transaction amount 100.00 plus existing transactions 100.00 exceeds limit 50
components:
  schemas:
    PaymentResponse:
      type: object
      required:
      - traceId
      - clientTransactionUniqueReference
      - clientPaymentTokenUniqueReference
      - status
      properties:
        traceId:
          type: string
          description: Unique identifier for logging
        clientTransactionUniqueReference:
          type: string
          description: Unique identifier for each payment request
        clientPaymentTokenUniqueReference:
          type: string
          description: Token against which Payment should be created
        status:
          type: string
          description: Current status of the transaction
    CreatePaymentRequest:
      type: object
      required:
      - clientTransactionUniqueReference
      - customer
      - paymentDetails
      - amount
      properties:
        clientTransactionUniqueReference:
          type: string
          description: This id will be used to uniquely identify each payment request made by our customer
          pattern: ^[a-zA-Z0-9_-]{1,40}$
        customer:
          type: object
          required:
          - customerId
          properties:
            customerId:
              type: string
              description: Value to uniquely identify a customer
              pattern: ^[a-zA-Z0-9_-]{1,16}$
            billingAddress:
              type: object
              required:
              - firstName
              - lastName
              - street
              - suburb
              - state
              - postalCode
              - countryCode
              properties:
                firstName:
                  type: string
                  maxLength: 60
                lastName:
                  type: string
                  maxLength: 60
                street:
                  type: array
                  items:
                    type: string
                    maxLength: 60
                  minItems: 1
                  maxItems: 2
                suburb:
                  type: string
                  maxLength: 14
                state:
                  type: string
                  maxLength: 3
                postalCode:
                  type: string
                  maxLength: 14
                countryCode:
                  type: string
                  pattern: ^[A-Z]{2}$
            emailAddress:
              type: string
              format: email
              maxLength: 40
        paymentDetails:
          type: object
          required:
          - clientPaymentTokenUniqueReference
          - description
          properties:
            clientPaymentTokenUniqueReference:
              type: string
              pattern: ^[a-zA-Z0-9_-]{1,40}$
            description:
              type: string
              maxLength: 40
        amount:
          type: object
          required:
          - currencyAmount
          properties:
            currencyAmount:
              type: number
              format: decimal
              maximum: 20000000.0
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    BasicAuth:
      type: http
      scheme: basic
x-tagGroups:
- name: ''
  tags:
  - Generate a Bearer Token
  - Generate a Client Session
  - Get Transaction By Id
  - Get Transaction By Date Range
  - Request Refund Transaction
  - Get Async Request Status
  - Create Payment Using Token
  - Get Payment Method Token Details
  - Update Payment Method Token Status
  - Webhooks
  - Monoova Error Codes
