openapi: 3.2.0
info:
  description: '# Introduction

    Monoova''s Online Card Payment Service incorporates a next-gen Card Payment Checkout integrated with our expansive Payments API to allow merchants to capture card and mobile wallet payments from your customers online and receive funds into your Monoova account for automated reconciliation and disbursement.'
  version: v1
  title: Monoova Card Payments Get Async Request Status API
  contact:
    name: Monoova Support
    email: support@monoova.com
    url: https://www.monoova.com
  x-logo:
    url: https://movdpwebsiteprodae.blob.core.windows.net/images/Monoova-Primary-Logo-Black-RGB.png
    altText: Monoova logo
servers:
- url: https://api.monoova.com
  description: Production URL#
- url: https://sand-api.monoova.com
  description: Sandbox URL
security:
- BearerAuth: []
tags:
- name: Get Async Request Status
paths:
  /au/card/ccm/CreditCardTransactionAsync/request/{uniqueRequestId}:
    get:
      tags:
      - Get Async Request Status
      summary: Get Async Request Status
      description: 'This endpoint can be used to get the status of the asynchronous refund request. The final status of the asynchronous request is marked as completed after we successfully initiate a refund request from our side. This does not indicate the status of the settlement process and money movement in case of a refund.

        Inorder to get the detailed status of the refund request , please use the Credit Card - Get Transaction By Id or Credit Card - Get Transaction By Date Range.'
      operationId: async-request-status
      parameters:
      - name: uniqueRequestId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncStatusResponse200'
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncStatusResponse201'
        '400':
          description: Bad Request
          content:
            application/json:
              example:
                traceId: 46500c7a-5516-4040-9f33-4137bb496755
                errors:
                - errorCode: CCM_JOBID_INVALID
                  errorMessage: Async Job Id is not valid Guid - must use the UniqueRequestId returned by the originating call
        '422':
          description: Async Request Failed
          content:
            application/json:
              example:
                traceId: c0905f60-80b7-4a6a-abe3-0207b3e19b8e
                uniqueRequestId: 595a3202-e9aa-406e-a2a3-5efb6ca8b72a
                clientTransactionUniqueReference: MONCC1673930138
                status: Failed
                errorCode: CCM_CC_GWM_ERROR
                errorMessage: Mandatory field is missing - payment_initiator_information.party_name.
components:
  schemas:
    AsyncStatusResponse200:
      type: object
      properties:
        traceId:
          description: unique end to end trace id for diagnostic
          type: string
          example: be393fae-52c2-4c9e-a262-4974de6da750
        uniqueRequestId:
          description: the unique Id for this async job as returned in the originating request
          type: string
          example: 4834dba5-27b0-465c-aea7-aa530315c68c
        clientTransactionUniqueReference:
          description: unique refund Id provided by the client
          type: string
          example: MONCC1673935776
        status:
          description: one of the below - <br/> Accepted <br/> Processing <br/> Completed <br/> Failed <br/> Expired
          type: string
          example: Processing
      additionalProperties: false
    AsyncStatusResponse201:
      type: object
      properties:
        traceId:
          description: unique end to end trace id for diagnostic
          type: string
          example: c0905f60-80b7-4a6a-abe3-0207b3e19b8e
        uniqueRequestId:
          description: the unique Id for this async job as returned in the originating request
          type: string
          example: 595a3202-e9aa-406e-a2a3-5efb6ca8b72a
        clientTransactionUniqueReference:
          description: unique refund Id provided by the client
          type: string
          example: MONCC1673930138
        status:
          description: one of the below - <br/> Accepted <br/> Processing <br/> Completed <br/> Failed <br/> Expired
          type: string
          example: Completed
      additionalProperties: false
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    BasicAuth:
      type: http
      scheme: basic
x-tagGroups:
- name: ''
  tags:
  - Generate a Bearer Token
  - Generate a Client Session
  - Get Transaction By Id
  - Get Transaction By Date Range
  - Request Refund Transaction
  - Get Async Request Status
  - Create Payment Using Token
  - Get Payment Method Token Details
  - Update Payment Method Token Status
  - Webhooks
  - Monoova Error Codes
