openapi: 3.2.0
info:
  description: "# Introduction\n  Monoova's Online Card Payment Service incorporates a next-gen Card Payment Checkout integrated with our expansive Payments API to allow merchants to capture card and mobile wallet payments from your customers online and receive funds into your Monoova account for automated reconciliation and disbursement. To integrate the Card Payment Gateway into your website, all you need is Monoova's <a href=\"https://github.com/Monoova/merchantSDK\" target='_blank'>Merchant Software Development Kit</a> (SDK) hosted on GitHub and a set of straightforward RESTful APIs detailed below.  We will continue to update this API documentation as we release additional functionality.\n\n# How to Enable the Card Payment Gateway and Sandbox API’s\n>\n  - If not already a user, register an account in our <a href='https://sandbox.monoova.com' target='_blank'>Sandbox Portal</a>\n  - Once registered and logged in, navigate to **Manage > API Gateway** and input your API Key (provided to you as part of Portal user registration) to activate API Gateway Access for your mAccount (If you do not know your API Key you will need to roll a new one, this can be done by navigating to **Manage > Accounts**)\n  - Card Gateway integration requires some additional back-end configuration prior to use by a member of our integration team who will reach out to onboard and confirm access as a final step to enabling your service.\n  - To notify the integration team of your interest in enabling your account for Online Card Payment Service functionality, please <a href='https://www.monoova.com/contact' target=\"_blank\">Contact us</a> and a member of the team will follow up to guide you through the final steps.\n\n# Integrating Monoova Checkout for Card Payments\n  Utilizing Monoova's Merchant SDK enables you to deploy a Card Payment Checkout that securely gathers card payment information that complies with PCI standards, without necessitating substantial PCI compliance modifications within your application. The integrated Card Payment Checkout implementation ensures the secure capture of card data and offers complete customization to seamlessly align with your application's appearance and user experience.\n\n## Before you start\n>\n  - Ensure that your mAccount has been properly configured to enable card payments. Please access the Monoova portal or contact Monoova Support to verify this.\n  - Download the Card Software Development Kit (SDK): https://github.com/Monoova/merchantSDK\n\n## Using the Merchant SDK\n  To begin, clone the Merchant SDK repository. This repository offers an example implementation of the set of tools for initiating a session with Monoova and presenting the credit card checkout for the collection of card payments. Detailed instructions on how to integrate the credit card checkout are included in the SDK.\n\n## Sample Card Details\n  The following Card details can be used to test the credit card checkout and end-to-end flow in your Sandbox Account.\n<table>\n  <tr>\n    <th>Card Type</th>\n    <th>Card Number</th>\n    <th>Card Expiry</th>\n    <th>Card CVV</th>\n  </tr>\n  <tr>\n    <td>VISA</td>\n    <td>4111 1111 1111 1111</td>\n    <td>12/31</td>\n    <td>123</td>\n  </tr>\n  <tr>\n    <td>MASTER CARD</td>\n    <td>5555 5555 5555 4444</td>\n    <td>12/31</td>\n    <td>123</td>\n  </tr>\n</table>\n\n## Customising the Checkout\n>\n  - For those using the provided checkout form, you can make adjustments to the appearance of the checkout by editing the Checkout.html and style.css files to apply host themes.\n  - To modify the styles within the card iframe, you should edit the CSS associated with the #Checkout-container ID, as host themes do not apply to the card form.\n  - Refer to our README documentation in the Card Software Development Kit (SDK). It includes programmatic examples, including checkout style and callback details, for the events\n    * onCheckoutComplete\n    * onCheckoutFail\n"
  version: v1
  title: Monoova Card Payments Request Refund Transaction API
  contact:
    name: Monoova Support
    email: support@monoova.com
    url: https://www.monoova.com
  x-logo:
    url: https://movdpwebsiteprodae.blob.core.windows.net/images/Monoova-Primary-Logo-Black-RGB.png
    altText: Monoova logo
servers:
- url: https://api.monoova.com
  description: Production URL#
- url: https://sand-api.monoova.com
  description: Sandbox URL
security:
- BearerAuth: []
tags:
- name: Request Refund Transaction
paths:
  /au/card/ccm/CreditCardTransactionAsync/refund:
    post:
      tags:
      - Request Refund Transaction
      summary: Request Refund Transaction (Async)
      description: This endpoint can be used to request a refund of the payment. This is an asynchronous process and can take up to 3 business days.  This request can be raised for both settled and unsettled payments. </br> A webhook will be initiated to notify customers about the status change. </br> For settled payments, a separate refund transaction will be created. Original payment status will not be affected. Partial refunds are supported. Multiple partial refund requests can be initiated for payment as long as the total of the refund amount does not exceed the original payment value and another refund request is not in progress for the same payment. </br></br> The status of the refund can be checked using the <a href='cards#tag/Get-Transaction-By-Id'>Credit Card - Get Transaction By Id</a> endpoint or <a href="/cards#tag/Get-Transaction-By-Id">Credit Card - Get Async Request Status.</a> </br>We also initiate a webhook when the refund status is finalized(Settlement Complete/Failed/Declined).
      operationId: request-refund-transaction
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefundRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefundResponse'
        '400':
          description: Error
          content:
            application/json:
              example:
                traceId: 9a74c22b-f9ab-46a5-b171-cecc86f4f307
                errors:
                - errorCode: CCM_PARENTUID_REQUIRED
                  errorMessage: clientParentTransactionUniqueReference required
components:
  schemas:
    RefundResponse:
      type: object
      properties:
        traceId:
          description: unique end to end trace id for diagnostic
          type: string
        uniqueRequestId:
          description: the unique Id generated for this async request as needed for the status polling
          type: string
      additionalProperties: false
    RefundRequest:
      type: object
      required:
      - clientParentTransactionUniqueReference
      - clientTransactionUniqueReference
      properties:
        clientParentTransactionUniqueReference:
          description: The 'clientTransactionUniqueReference' ID of original payment
          type: string
          maxLength: 40
          pattern: ^[a-zA-Z0-9_-]{1,40}
        clientTransactionUniqueReference:
          description: Client unique reference for the refund transaction. <br/> Id should be unique across Payment and Refund.
          type: string
          maxLength: 40
          pattern: ^[a-zA-Z0-9_-]{1,40}
        refundAmount:
          description: amount to be refunded<br/>If omitted or zero, the whole remaining amount will be refunded. The amount cannot exceed original payment amount.
          type: number
          format: float
          minimum: 0
        refundReason:
          description: reason for the refund
          type: string
          maxLength: 40
      additionalProperties: false
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    BasicAuth:
      type: http
      scheme: basic
x-tagGroups:
- name: ''
  tags:
  - Generate a Bearer Token
  - Generate a Client Session
  - Get Transaction By Id
  - Get Transaction By Date Range
  - Request Refund Transaction
  - Get Async Request Status
  - Create Payment Using Token
  - Get Payment Method Token Details
  - Update Payment Method Token Status
  - Webhooks
  - Monoova Error Codes
