openapi: 3.2.0
info:
  description: '# Introduction

    Monoova''s Online Card Payment Service incorporates a next-gen Card Payment Checkout integrated with our expansive Payments API to allow merchants to capture card and mobile wallet payments from your customers online and receive funds into your Monoova account for automated reconciliation and disbursement.'
  version: v1
  title: Monoova Card Payments Update Payment Method Token Status API
  contact:
    name: Monoova Support
    email: support@monoova.com
    url: https://www.monoova.com
  x-logo:
    url: https://movdpwebsiteprodae.blob.core.windows.net/images/Monoova-Primary-Logo-Black-RGB.png
    altText: Monoova logo
servers:
- url: https://api.monoova.com
  description: Production URL#
- url: https://sand-api.monoova.com
  description: Sandbox URL
security:
- BearerAuth: []
tags:
- name: Update Payment Method Token Status
paths:
  /au/card/ccm/PaymentMethodToken/{customerId}/{clientPaymentTokenReference}:
    patch:
      tags:
      - Update Payment Method Token Status
      summary: Update Status of Payment Method Token
      description: This endpoint can be used to update the status of a paymentMethodToken.
      operationId: updatePaymentMethodTokenStatus
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          type: string
        description: Customer ID as specified in Credit Card - Generate Client Session.
      - name: clientPaymentTokenReference
        in: path
        required: true
        schema:
          type: string
        description: Client Payment Token Unique Reference as specified in Credit Card - Generate Client Session.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - status
              properties:
                status:
                  type: string
                  description: The new status to which the paymentMethodToken should be changed
                  enum:
                  - Active
                  - Paused
                  - Deleted
            example:
              status: Active
      responses:
        '200':
          description: Status updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  traceId:
                    type: string
                    description: Unique id for logging
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        errorCode:
                          type: string
                          description: Monoova error code
                        errorMessage:
                          type: string
                          description: Description of error
                        sourceErrorCode:
                          type: string
                          description: Reserved - not currently used
                        sourceErrorMessage:
                          type: string
                          description: Reserved - not currently used
              example:
                traceId: 660ed149-61db-4644-acd0-5510dc840854
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    BasicAuth:
      type: http
      scheme: basic
x-tagGroups:
- name: ''
  tags:
  - Generate a Bearer Token
  - Generate a Client Session
  - Get Transaction By Id
  - Get Transaction By Date Range
  - Request Refund Transaction
  - Get Async Request Status
  - Create Payment Using Token
  - Get Payment Method Token Details
  - Update Payment Method Token Status
  - Webhooks
  - Monoova Error Codes
