openapi: 3.2.0
info:
  description: '# Introduction


    Monoova has developed a powerful payments engine which allows you to receive, manage and pay funds in AUD in Australia automatically.'
  version: v5.29
  title: Monoova Payments Public Endpoints API
  contact:
    name: Monoova Support
    email: support@monoova.com
    url: https://www.monoova.com
  x-logo:
    url: https://movdpwebsiteprodae.blob.core.windows.net/images/Monoova-Primary-Logo-Black-RGB.png
    altText: Monoova logo
servers:
- url: https://api.mpay.com.au
  description: Production URL
- url: https://api.m-pay.com.au
  description: Sandbox URL
security:
- BasicAuth: []
tags:
- name: Public Endpoints
  description: ''
paths:
  /public/v1/ping:
    get:
      tags:
      - Public Endpoints
      summary: Ping
      description: The primary purpose of the ping API is to validate that the system is up and running. No Authentication is required.
      operationId: PublicPing
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTO.PublicPingResponse_V1'
        '400':
          description: Bad request
        '500':
          description: Internal Server Error
  /public/v1/certificate:
    get:
      tags:
      - Public Endpoints
      summary: Webhook Signing Certificate
      description: 'This endpoint returns the current X.509 certificate, which contains the public key that you can use to verify messages sent by Monoova.


        The certificate returned is short-lived (1-year validity) and should be updated accordingly.'
      operationId: PublicCertificate
      security: []
      responses:
        '200':
          description: OK
        '400':
          description: Bad request
        '500':
          description: Internal Server Error
  /public/v1/certificate/public-key:
    get:
      tags:
      - Public Endpoints
      summary: Retrieve Public Key
      description: 'This endpoint returns the public key used by Monoova to sign messages.The public key is encoded as a hexadecimal string.

        This public key should be expected to change every 1 year and should be updated accordingly.'
      operationId: PublicCertificatePublicKey
      security: []
      responses:
        '200':
          description: OK
          content:
            application/octet-stream:
              examples:
                response:
                  value: 3082010A0282010100D1F5EF12A7C71A12478280DCD7D9C8D62E70A7252A02C88D0F768B9860FB773F3C45E33944DF7824AEDAD990B53F5E58719D39790013375E5895FC05FFE7130FA9003C8072850D8499A9C8A676F7D0F719F8BC8CEA0BD0697D1D5B4856A0A0FAB4F297CB53FD00D62091748E8949ED9395887A1D965DCDD8B648709A3EF3E7F83546015AE8154896391973CF4217D859C4D81C81514A38416BD7E7B2CD75BA643B4F07CE2DF6DFA142AF140E0A1C9E3FA708FEA2BDFA4A8B574CC7C757AD8A7B22801356C45AC338DCF8CFA8DFF662A9D4C81EB120D657F8531977B3178B5365E1FCF87E4A9A30A1D351644D6D62F4CE4346C65C5307BB7840493EFDE175516F0203010001
        '400':
          description: Bad request
        '500':
          description: Internal Server Error
components:
  schemas:
    DTO.PublicPingResponse_V1:
      properties:
        durationMs:
          description: 'This value represents the total time in milliseconds that the Platform took to process the request. '
          type: integer
          format: int64
          example: 20
          uniqueItems: false
        status:
          description: This is the status of executing the request.&nbsp;A code of ‘Ok’ indicates no errors
          type: string
          example: Ok
          uniqueItems: false
        statusDescription:
          description: This is a plain English description of the status.
          type: string
          example: Operation completed successfully
          uniqueItems: false
        version:
          description: A string containing the Version of the Platform engine with the current Date Time at the server
          type: string
          example: 'Monoova Payments Platform Public V1.0.Engine V: 4.74.0.0  Environment: Sandbox DateTime: 19-Nov-2018 06:54:48 AM'
          uniqueItems: false
        environment:
          description: 'The name of the environment you are connected too: ·Live ·Sandbox'
          type: string
          example: Sandbox
          uniqueItems: false
      type: object
      format: DTO.PublicPingResponse_V1
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
x-tagGroups:
- name: Receive and Pay
  tags:
  - Financial
  - Verify
  - Automatcher (Bank Account Receivables)
  - Whitelisting for Automatcher (Bank Account Receivables)
  - Ledger Account
  - Reconciliation Rules
  - PayID
  - Tools
- name: BPAY
  tags:
  - BPAY
  - mWallet
- name: Manage
  tags:
  - Subscriptions
  - Webhooks
  - mAccount
  - Reports
  - Security
  - Token
- name: Public Endpoints
  tags:
  - Public Endpoints
