openapi: 3.2.0
info:
  description: '# Introduction

    Monoova''s Online Card Payment Service incorporates a next-gen Card Payment Checkout integrated with our expansive Payments API to allow merchants to capture card and mobile wallet payments from your customers online and receive funds into your Monoova account for automated reconciliation and disbursement.'
  version: v1
  title: Monoova Card Payments Request Refund Transaction API
  contact:
    name: Monoova Support
    email: support@monoova.com
    url: https://www.monoova.com
  x-logo:
    url: https://movdpwebsiteprodae.blob.core.windows.net/images/Monoova-Primary-Logo-Black-RGB.png
    altText: Monoova logo
servers:
- url: https://api.monoova.com
  description: Production URL#
- url: https://sand-api.monoova.com
  description: Sandbox URL
security:
- BearerAuth: []
tags:
- name: Request Refund Transaction
paths:
  /au/card/ccm/CreditCardTransactionAsync/refund:
    post:
      tags:
      - Request Refund Transaction
      summary: Request Refund Transaction (Async)
      description: 'This endpoint can be used to request a refund of the payment. This is an asynchronous process and can take up to 3 business days. This request can be raised for both settled and unsettled payments.

        A webhook will be initiated to notify customers about the status change.

        For settled payments, a separate refund transaction will be created. Original payment status will not be affected. Partial refunds are supported. Multiple partial refund requests can be initiated for payment as long as the total of the refund amount does not exceed the original payment value and another refund request is not in progress for the same payment.


        The status of the refund can be checked using the Credit Card - Get Transaction By Id endpoint or Credit Card - Get Async Request Status.

        We also initiate a webhook when the refund status is finalized(Settlement Complete/Failed/Declined).'
      operationId: request-refund-transaction
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefundRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefundResponse'
        '400':
          description: Error
          content:
            application/json:
              example:
                traceId: 9a74c22b-f9ab-46a5-b171-cecc86f4f307
                errors:
                - errorCode: CCM_PARENTUID_REQUIRED
                  errorMessage: clientParentTransactionUniqueReference required
components:
  schemas:
    RefundRequest:
      type: object
      required:
      - clientParentTransactionUniqueReference
      - clientTransactionUniqueReference
      properties:
        clientParentTransactionUniqueReference:
          description: The 'clientTransactionUniqueReference' ID of original payment
          type: string
          maxLength: 40
          pattern: ^[a-zA-Z0-9_-]{1,40}
        clientTransactionUniqueReference:
          description: Client unique reference for the refund transaction. <br/> Id should be unique across Payment and Refund.
          type: string
          maxLength: 40
          pattern: ^[a-zA-Z0-9_-]{1,40}
        refundAmount:
          description: amount to be refunded<br/>If omitted or zero, the whole remaining amount will be refunded. The amount cannot exceed original payment amount.
          type: number
          format: float
          minimum: 0
        refundReason:
          description: reason for the refund
          type: string
          maxLength: 40
      additionalProperties: false
    RefundResponse:
      type: object
      properties:
        traceId:
          description: unique end to end trace id for diagnostic
          type: string
        uniqueRequestId:
          description: the unique Id generated for this async request as needed for the status polling
          type: string
      additionalProperties: false
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    BasicAuth:
      type: http
      scheme: basic
x-tagGroups:
- name: ''
  tags:
  - Generate a Bearer Token
  - Generate a Client Session
  - Get Transaction By Id
  - Get Transaction By Date Range
  - Request Refund Transaction
  - Get Async Request Status
  - Create Payment Using Token
  - Get Payment Method Token Details
  - Update Payment Method Token Status
  - Webhooks
  - Monoova Error Codes
