openapi: 3.2.0
info:
  description: '# Introduction


    Monoova has developed a powerful payments engine which allows you to receive, manage and pay funds in AUD in Australia automatically.'
  version: v5.29
  title: Monoova Payments Reports API
  contact:
    name: Monoova Support
    email: support@monoova.com
    url: https://www.monoova.com
  x-logo:
    url: https://movdpwebsiteprodae.blob.core.windows.net/images/Monoova-Primary-Logo-Black-RGB.png
    altText: Monoova logo
servers:
- url: https://api.mpay.com.au
  description: Production URL
- url: https://api.m-pay.com.au
  description: Sandbox URL
security:
- BasicAuth: []
tags:
- name: Reports
  description: 'Overview

    The APIs in the reports/v1 section help you keep track of balances and transactions. Payments automation is only helping you relax if you know where exactly your money is at any one point in time.'
paths:
  /reports/v1/settlement/{date}:
    get:
      tags:
      - Reports
      summary: Get all transactions in a daily settlement
      description: 'You may choose to set your mAccounts to settle automatically every day. If so, the mAccount balance will be brought to zero at 4pm (Sydney time) each business day. Any positive balance will be disbursed to the bank account you have linked; any negative balance will be direct debited from the bank account you have linked. Transactions on weekends, public holidays and after 4pm won’t appear in the settlement report until after 4pm the next business day.

        This report returns an array of actual disbursements for each transaction that was settled on the given date. Date is represented by ISO8601 – ‘2016-03-01’ for 1st March 2016.'
      operationId: ReportSettlement
      parameters:
      - name: date
        in: path
        required: true
        description: Date is represented by ISO8601 – ‘2016-03-01’ for 1st March 2016.
        schema:
          type: string
          example: '2016-03-01'
          maxLength: 13
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTO.GenericPayment.GenericPaymentSettlementResponse_V1'
        '400':
          description: Bad request
        '500':
          description: Internal Server Error
  /reports/v1/statement/{date}:
    get:
      tags:
      - Reports
      summary: Get all successful transactions for a date
      description: This API returns all successful transactions on the given date. Date is represented by ISO8601 – ‘2016-03-01’ for 1st March 2016.
      operationId: ReportStatement
      parameters:
      - name: date
        in: path
        required: true
        description: Date is represented by ISO8601 – ‘2016-03-01’ for 1st March 2016.
        schema:
          type: string
          example: '2016-03-01'
          maxLength: 13
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTO.GenericPayment.GenericPaymentStatementResponse_V1'
        '400':
          description: Bad request
        '500':
          description: Internal Server Error
components:
  schemas:
    DTO.GenericPayment.GenericPaymentStatementResponse_V1:
      properties:
        durationMs:
          description: 'This value represents the total time in milliseconds that the Platform took to process the request. '
          type: integer
          format: int64
          example: 20
        status:
          description: This is the status of executing the request.&nbsp;A code of ‘Ok’ indicates no errors
          type: string
          example: Ok
        statusDescription:
          description: This is a plain English description of the status.
          type: string
          example: Operation completed successfully
        transactions:
          description: An array of TransactionItem’s
          type: array
          items:
            $ref: '#/components/schemas/DTO.GenericPayment.GenericPaymentStatementItem_V1'
      type: object
      format: DTO.GenericPayment.GenericPaymentStatementResponse_V1
    DTO.GenericPayment.GenericPaymentStatementItem_V1:
      properties:
        uniqueReferenced:
          description: This is your uniqueReference that was passed in when the transaction was executed
          type: string
          example: '43257'
          uniqueItems: false
        transactionId:
          description: This is the transactionId that was returned when the transaction was executed
          type: integer
          format: int32
          example: 36
          uniqueItems: false
        dateTime:
          description: 'The date time that the transaction was executed on the Platform Servers. Format is ISO8601 - 2015 -09 - 01T19: 19:58'
          type: string
          example: '2018-09-01T19:19:38'
          uniqueItems: false
        status:
          description: 'This is the status of executing the request.&nbsp;A code of ‘Ok’ indicates no errors. '
          type: string
          example: OK
          uniqueItems: false
        totalAmount:
          description: This is the total amount of the transaction what was disbursed
          type: number
          format: decimal
          example: 25
        feeAmountExcludingGst:
          description: This is the fee amount Excluding GST that has been debited from your mAccount
          type: number
          format: decimal
          example: 0.335
        feeAmountGstComponent:
          description: This is the GST Component of the fee amount that has been debited from your mAccount
          type: number
          format: decimal
          example: 0.0335
        feeAmountIncludingGst:
          description: This is the total fee amount Including GST that has been debited from your mAccount
          type: number
          format: decimal
          example: 0.3685
      type: object
    DTO.GenericPayment.GenericPaymentSettlementItem_V1:
      properties:
        uniqueReferenced:
          description: This is your uniqueReference that was passed in when the transaction was executed
          type: string
          example: '43257383821'
          uniqueItems: false
        transactionId:
          description: This is the transactionId that was returned when the transaction was executed
          type: integer
          format: int32
          example: 43343
          uniqueItems: false
        disbursementAmount:
          description: This is the settlement or the requested disbursement amount
          type: number
          format: decimal
          example: 25
          uniqueItems: false
        disbursementMethod:
          description: This is the disbursementMethod that was used to make the settlement payment
          type: string
          example: bpay
        feeAmountExclGst:
          description: This is the fee amount Excluding GST that has been debited from your mAccount
          type: number
          format: decimal
          example: 0.335
        feeAmountGstComponent:
          description: This is the GST Component of the fee amount that has been debited from your mAccount
          type: number
          format: decimal
          example: 0.0335
        feeAmountInclGst:
          description: This is the total fee amount Including GST that has been debited from your mAccount
          type: number
          format: decimal
          example: 0.3685
      type: object
    DTO.GenericPayment.GenericPaymentSettlementResponse_V1:
      properties:
        durationMs:
          description: 'This value represents the total time in milliseconds that the Platform took to process the request. '
          type: integer
          format: int64
          example: 20
          uniqueItems: false
        status:
          description: This is the status of executing the request.&nbsp;A code of ‘Ok’ indicates no errors
          type: string
          example: Ok
          uniqueItems: false
        statusDescription:
          description: This is a plain English description of the status.
          type: string
          example: Operation completed successfully
        settlements:
          description: An array of SettlementItem’s
          type: array
          items:
            $ref: '#/components/schemas/DTO.GenericPayment.GenericPaymentSettlementItem_V1'
      type: object
      format: DTO.GenericPayment.GenericPaymentSettlementResponse_V1
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
x-tagGroups:
- name: Receive and Pay
  tags:
  - Financial
  - Verify
  - Automatcher (Bank Account Receivables)
  - Whitelisting for Automatcher (Bank Account Receivables)
  - Ledger Account
  - Reconciliation Rules
  - PayID
  - Tools
- name: BPAY
  tags:
  - BPAY
  - mWallet
- name: Manage
  tags:
  - Subscriptions
  - Webhooks
  - mAccount
  - Reports
  - Security
  - Token
- name: Public Endpoints
  tags:
  - Public Endpoints
